@import "tailwindcss";
@theme {

  --breakpoint-3xl: 1920px;
  --color-secondary: oklch(52.4% 0.18662 14.966);
  --color-secondary-50: oklch(73.433% 0.11909 6.34);
  --color-secondary-100: oklch(69.885% 0.13919 7.0616);
  --color-secondary-200: oklch(63.572% 0.17316 9.8134);
  --color-secondary-300: oklch(58.559% 0.20071 13.841);
  --color-secondary-400: oklch(52.4% 0.18662 14.966);
  --color-secondary-500: oklch(42.697% 0.14917 14.15);
  --color-secondary-600: oklch(32.411% 0.10883 13.477);
  --color-secondary-700: oklch(21.356% 0.06344 10.529);
  --color-secondary-800: oklch(4.2201% 0.01732 29.234);
  --color-secondary-900: oklch(0% 0 none);
  --color-secondary-950: oklch(0% 0 none);
  --color-primary: oklch(49.933% 0.11024 250.04);
  --color-primary-50: oklch(96.247% 0.02001 200.64);
  --color-primary-100: oklch(92.597% 0.03582 205.23);
  --color-primary-200: oklch(84.361% 0.06317 214.03);
  --color-primary-300: oklch(74.762% 0.08826 226.04);
  --color-primary-400: oklch(63.754% 0.11758 239.66);
  --color-primary-500: oklch(49.933% 0.11024 250.04);
  --color-primary-600: oklch(41.436% 0.10419 257.32);
  --color-primary-700: oklch(33.231% 0.09464 263.24);
  --color-primary-800: oklch(25.996% 0.07965 268.39);
  --color-primary-900: oklch(19.004% 0.05983 273.58);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(rgb(47,127, 158), #9CD7E5, #CCEEF2);
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  background-repeat: no-repeat;
  color: var(--foreground);
  
}

